body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin:0;
    border: 1px solid rgba(0, 0, 0, 0.25);
    flex-direction: column;
    background-color: gainsboro;
    gap: 100px;
}   

.container {
display: flex;
width: 393px;
height: 750px;
border-radius: 48px; 
flex-direction: column;
  

box-sizing: border-box;
border: 12px solid #1a1a1a; 
position: relative;
overflow-y: auto;
overflow-x: hidden;
background-color: black;
padding: 40px 20px;
}

.output-box {
    color: white;
    overflow: auto;
    font-size: 70px;
    text-align: right; 
    width: 100%;
    margin-top: auto;
    margin-bottom: 20px;
    padding-right: 10px;
    box-sizing: border-box;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4,65px); 
    justify-content:center ;
    gap: 12px; 
}
.btn {
    aspect-ratio: 1;
    border: none;
    border-radius: 50%; 
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
    color: white;
    height: 65px;
    font-size: 24px;
    background-color: #333333; 
    transition: background-color 0.1s ease;
}

.btn:active {
    filter: brightness(130%); 
}


.btn.functional {
    background-color: #a5a5a5;
    color: black;
}

.btn.operator {
    background-color: #ff9f0a; 
}


.zero-btn {
    grid-column: span 2; 
    aspect-ratio: auto;  
    border-radius: 40px; 
    text-align: left;
    padding-left: 30px;
}
.footer {
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", "SF Pro Text", "Segoe UI", Roboto, sans-serif;
    font-size: 20px;
    font-weight: 300;
}